.fixed {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
}

.fixed>div {
  position: relative;
}

.social,
.email {
  position: absolute;
  bottom: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social::after,
.email::after {
  content: "";
  margin-top: 5px;
  height: 100px;
  width: 1px;

  display: inline-block;
  background: var(--gray);
}

.social {
  font-size: 22px;
  left: 0;
}

.email {
  right: 0;
}

.social a {
  padding: 5px 0;
  margin: 2px 0;
}

.email a {
  padding: 5px;
  font-size: 14px;
  letter-spacing: 1.5px;
  writing-mode: vertical-rl;
}

.social a,
.email a {
  color: var(--gray);
  transition: .2s;
}

.social a:hover,
.email a:hover {
  color: var(--blue);
  transform: translateY(-5px);
}

@media(max-width: 768px) {
  .fixed {
    display: none;
  }
}