.button {
  padding: 11px 20px;
  border: 2px solid var(--blue);
  border-radius: 5px;

  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--blue);
  background: none;

  transition: .2s;
  cursor: pointer;
}


.filled {
  background: var(--blue);
  color: var(--white);
}


@media (hover: hover) and (pointer: fine) {
  .button:hover {
    background: var(--blue-pale);
  }


  .filled:hover {
    border-color: var(--blue-dark);
    background: var(--blue-dark);
    color: var(--white);
  }

}