@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;500&display=swap');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --black: #0F212C;
  --white: #FFFFFF;
  --gray-dark: #535375;
  --gray-light: #9393BA;
  --gray-lighter: #EFEFFF;
  --blue: #2B1A90;
  --pink: #E7476D;
}

html {
  font-family: "Lexend", sans-serif;
}

button,
input,
textarea {
  font-family: inherit;
}

button {
  border: none;
}

a {
  text-decoration: none;
  color: var(--blue);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--black);
}

p {
  color: var(--gray-dark);
}