/*
=================== HERO =====================
*/

.hero {
  min-height: 90vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.heroTitle {
  line-height: 1.2;
  font-size: clamp(22px, 8vw, 52px);
  font-weight: 600;
}

.heroPara {
  max-width: 700px;

  font-size: 20px;
  line-height: 1.6;

  color: var(--dark-gray);
  margin: 15px 0 25px 0;
}


.btnContainer :first-child {
  margin-right: 20px;
}

.button {
  text-align: center;
  display: inline-block;
  padding: 12px 30px;
  text-transform: uppercase;
  font-size: 18px;
  border-radius: 8px;
  font-family: 500;
}

.filled {
  border: none;
  background: var(--blue);
  color: var(--light);
}

.outlined {
  border: 2px solid var(--blue);
  background: none;
  color: var(--blue);
}

@media (max-width: 600px) {
  .btnContainer :first-child {
    margin-bottom: 20px;
  }

  .heroPara {
    font-size: 17px;
  }
}


/* 
===================== WORK ==========================
*/

.project {
  margin-bottom: 100px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.projectTag {
  font-size: 14px;
  color: #ED5CC4;
}

.projectTitle {
  font-size: 32px;
  font-weight: 500;
  line-height: 1;
}

.projectDesc {
  margin: 10px 0;
  max-width: 600px;

  font-size: 18px;
  line-height: 1.6;
  color: var(--dark-gray);
}

.projectLink {
  font-size: 18px;
  font-weight: 500;
  color: var(--blue);
  text-transform: uppercase;
}

.projectImage {
  min-width: 200px;
  min-height: 200px;
  border-radius: 8px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--blue-light);
}

@media (max-width: 900px) {
  .projectDesc {
    font-size: 16px;
  }
}

@media (max-width: 600px) {
  .project {
    margin-bottom: 40px;
  }

  .projectImage {
    display: none;
  }
}