/* 
======================== HEADER ===========================
*/
.mainHeader {
  height: var(--header-height);

  position: fixed;
  width: 100%;

  background-color: var(--light);
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
}

.container {
  height: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mhLogo {
  color: var(--dark);
  height: 60%;
}

.mhLogo svg {
  height: 100%;
}

.siteNavigation {
  display: flex;
  align-items: center;
}

.navItem a {
  padding: 5px 10px;
  margin-left: 20px;

  font-size: 18px;
  color: var(--dark-gray);
}

.navItem a:hover {
  color: var(--dark);
}

@media (max-width: 600px) {
  .navItem a {
    padding: 5px;
    font-size: 16px;
  }
}

.linkAsButton a,
.linkAsButton a:hover {
  padding: 10px 30px;
  border-radius: 10px;
  background-color: var(--blue);
  color: var(--light);
  text-transform: uppercase;
}


/* 
======================== Main =====================
*/

.main {
  padding-top: var(--header-height);
  min-height: 90vh;
}

/* 
======================== Footer =====================
*/

.footerFlex {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer {
  background-color: var(--blue-light);
}

.footer p {
  color: var(--dark-gray);
}

@media (max-width: 600px) {
  .footer {
    font-size: 14px;
  }
}