/* 
================== Container ================
*/

.container {
  width: 95%;
  margin: 0 auto;
}


/* 
=================== Button =================
*/

.button {
  padding: 10px 20px;
  border-radius: 5px;
  display: inline-block;

  font-weight: 500;
  font-size: 18px;
  background-color: var(--gray-lighter);
}


/* 
=================== Header ====================
*/

.header {
  background: var(--white);
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
  position: fixed;
  left: 0;
  right: 0;
}

.header>div {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.email {
  font-weight: 500;
}

/* 
=================== Main ====================
*/

.main {
  padding-top: 80px;

  background: linear-gradient(to right, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)), url("/images/pipes.webp");
  background-size: 400px;
  background-repeat: repeat;
  background-attachment: fixed;
}

/* 
===================== Hero ==================
*/

.hero {
  padding: 120px 0px;
}

.heroTitle {
  font-size: 58px;
  font-weight: 400;
  line-height: 1.2;
}

.heroPara {
  margin: 5px 0 15px 0;
  max-width: 760px;

  font-size: 20px;
  line-height: 32px;
}

.hero .btnContainer :first-child {
  margin-right: 20px;
}

.hero .btnContainer>a {
  font-size: 20px;
}

@media (max-width: 600px) {

  .hero {
    padding: 90px 0;
  }

  .heroTitle {
    font-size: 48px;
  }

  .heroPara {
    font-size: 18px;
    line-height: 28px;
  }

  .hero .btnContainer :first-child {
    margin-bottom: 20px;
  }
}