.label {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.label h2 {
  font-weight: 600;
  font-size: clamp(20px, 4vw, 32px);
}

.label::after {
  content: "";
  margin-left: 10px;

  display: inline-block;
  flex: 1;
  height: 2px;
  border-radius: 1px;
  background: var(--blue-dark);
}

@media (max-width: 480px) {
  .label {
    flex-direction: column;
    align-items: flex-start;
  }

  .label::after {
    margin: 5px 0;
    width: 150px;

    flex: unset;
    background: var(--blue);
  }
}