.btn {
  padding: 12px 30px;
  display: inline-block;

  border: none;
  border-radius: 5px;
  background: none;

  text-transform: uppercase;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
}

.filled {
  background: var(--black);
  color: var(--white);
}

.outlined {
  border: 1px solid var(--black);
  color: var(--black);
}