@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,400;8..144,500;8..144,600;8..144,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --black: #131313;
  --white: #fefefe;
  --gray: #535353;
  --varden: #FFF1D0;
  --border-radius: 5px;
  --header-height: 70px;
}

body {
  font-family: 'Roboto Flex', 'Roboto', sans-serif;
  background-color: var(--white);
  color: var(--black);
}

button {
  font: inherit;
}

a {
  color: inherit;
  text-decoration: underline;
}

ul {
  list-style: none;
}