/*
============= Header =============
*/

.primaryHeader {
  height: var(--header-height);

  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  justify-content: center;

  background-color: var(--white);
}

.primaryHeader a {
  padding: 5px 16px;
  font-size: 18px;
  font-weight: 400;
}

.siteNavWrapper,
.siteNav,
.headerContainer,
.socialLinks,
.primaryHeader {
  display: flex;
  align-items: center;
}

.headerContainer {
  width: 95%;
  max-width: 1200px;
}

.siteNavWrapper {
  width: 100%;
  justify-content: space-between;
}

.siteNav {
  margin-left: 40px;
}

.socialLinks svg {
  font-size: 28px;
}

.hamburger {
  display: none;
}

@media (max-width: 600px) {
  .siteNavWrapper {
    padding-left: 20px;

    opacity: 0;
    position: absolute;
    top: -1000px;

    flex-direction: column;
    align-items: flex-start;
  }

  .siteNav {
    flex-direction: column;
    margin: 0;
    align-items: flex-start;
  }


  .primaryHeader a {
    padding: 20px 5px;
    display: inline-block;
  }

  .socialLinks {
    width: 100%;
    justify-content: center;
  }

  .socialLinks a {
    padding: 20px 20px;
  }

  .open {
    opacity: 1;
    left: 0;
    right: 0;
    top: var(--header-height);

    background-color: var(--white);
  }

  .headerContainer {
    justify-content: space-between;
  }

  .hamburger {
    display: initial;
    font-size: 32px;
  }
}

/* 
=============== Main ================
*/


.main {
  padding-top: var(--header-height);
  min-height: 90vh;
}

.mainContainer {
  max-width: 1040px;
  margin: 0 auto;
}

/* 
=============== Footer ================
*/

.footer {
  height: 60px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--varden);
  color: var(--gray);
}